*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#homepage {
    height: 100vh;
    width: 100vw;
    background: #eae7ed;
    display: flex;
}

#brand {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 20%;
    width: 25%;
    /* align-self: center; */
    animation: zoomin 1000ms forwards;
}

@keyframes zoomin {
    100% {
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

#subtext {
    color: transparent;
    align-self: center;
    /*margin: 0;*/
    font-weight: 1000;
    animation: fadein 1000ms 1000ms forwards;
}

@keyframes fadein {
    100% {
        color: #7250cd
    }
}

.suform {
    margin: 5% auto auto auto;
    padding: 2%;
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 2px solid #007bff;
    border-radius: 10px;
}

.suform button {
    max-width: 30%;
    align-self: center;
}


/* This would be the rest of the HomePage */
/* Images borrowed from CDNs and Shutterstock*/

#home-card-section {
    padding-top: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home-card {
    height: 25%;
    width: 30%;
    background: rgba(0,0,0,0.8);
    color: white;
    margin-right: 3%;
}

.card-logos {
    width: 90%;
    height: 90%;
}